* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p,
a,
button,
span {
  font-family: Verdana;
}
.mainWrapper {
  width: 100%;
  height: auto;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ebebeb;
}
/* NAV */
nav {
  width: 100%;
  height: 100px;
  padding: 0px 50px;
  box-sizing: border-box;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
nav div.logoDiv {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 50px;
}
nav div.mainNav {
  height: 100%;
  display: flex;
  align-items: center;
}
nav div p {
  font-size: 16px;
  font-weight: bold;
}
nav div img {
  width: 50px;
  height: 75px;
}
nav .mainNav a {
  display: flex;
  justify-content: center;
  border-left: 0.2px solid #5f7472;
}
nav a.navlink {
  width: 300px;
  padding: 40px 70px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
}
nav a.navlink.active {
  background-color: #ebebeb;
}
nav a.navSearch {
  text-decoration: none;
  color: black;
  padding: 30px;
  text-align: center;
}
nav a i {
  font-size: 35px;
}
/* Burger menu */
.burgerMenu {
  position: absolute;
  right: 70px;
  display: none;
}
.burgerMenu a {
  text-decoration: none;
  color: black;
}
.burgerMenu i {
  font-size: 35px;
}
.burgermenuContent {
  height: auto;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.burgermenuContent.open {
  display: flex;
}
.burgermenuContent a {
  margin: 10px 0;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -20px;
  opacity: 0;
  animation-name: burgerMenu;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}
@keyframes burgerMenu {
  0% {
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
/* Frontpage image */
section.frontImage {
  width: 100%;
  height: 600px;
  background-color: black;
}
section.frontImage video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: opacity(80%);
}
/* Pil ned */
.arrowLink {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -80px;
}
.arrowLink a {
  text-decoration: none;
  color: white;
  font-size: 50px;
}
/* Kort info lige under billedet  */
.shortInfo {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}
.shortInfo h1 {
  font-size: 46px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 54px;
}
.shortInfo p {
  padding: 30px 0;
  width: 40%;
  margin: 0 auto;
  font-size: 24px;
}
/* Main info midt på siden */
.mainInfo {
  width: 60%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.mainInfo article {
  width: 50%;
  height: 450px;
  background-color: #597e50;
  color: white;
  box-sizing: border-box;
  text-align: left;
}
.mainInfo article img {
  width: 100%;
  height: 450px;
}
.mainInfo article.articleInfo {
  padding: 50px 50px;
  font-size: 17px;
  line-height: 27px;
}
.mainInfo article.articleInfo h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1.2px;
}
/* Info lige før kortet */
.beforeMap {
  margin: 0 auto;
  text-align: center;
  color: black;
  padding: 60px;
}
.beforeMap h2 {
  font-size: 46px;
  font-weight: bold;
}
/* MAP STYLING */
.mapWrapper {
  width: 100%;
  height: auto;
  position: relative;
}
#map {
  margin: 0 auto;
  width: 100%;
  height: 600px;
}
/* MAP MENU KNAP */
.menuAside {
  position: absolute;
  z-index: 99;
  top: 0px;
  width: 170px;
  transition: 0.3s ease;
}
.menuAside.open {
  width: 350px;
}
#myInput {
  background-image: url("billeder/Søgeikon.png");
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  box-sizing: border-box;
  z-index: 99;
}
.menuAside button {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: flex-start;
  font-size: 28px;
  align-items: center;
  color: white;
  background-color: rgb(41, 41, 41);
  border: 0;
  cursor: pointer;
}
.menuAside button:focus {
  outline: 0;
}
.menuAside button i {
  margin: 0px 30px;
}
/* Liste af alle personer */
.maptableAside {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 60px;
  width: 350px;
  height: 0px;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  overflow: auto;
  transition: 0.3s ease;
}
.maptableAside.open {
  visibility: visible;
  height: 540px;
}
/* Button som et link */
.linkBtn {
  background-color: #707070;
  color: white;
  border: 0;
  width: 100%;
  height: 80px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
}
.linkBtn:focus {
  outline: 0;
}
.linkBtn p {
  max-width: 70%;
  width: 70%;
  color: white;
}
.btnCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #404040;
}
.linkBtn .left {
  left: 5px;
}
.linkBtn .right {
  right: 5px;
}
/* Style den info box der popper op over hver marker */
.contentBox {
  width: 300px;
  height: 100px;
  border-radius: 15px;
  color: black;
}
/* Underside */
.undersideWrapper {
  background-color: #ebebeb;
  width: 100%;
  height: 100%;
  padding: 33px 0;
}
.undersidecontentWrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
}
.breadCrums {
  position: relative;
  left: 15%;
  width: 60%;
  display: flex;
  margin-bottom: 25px;
  opacity: 0;
  animation: animBreadcrums 1s;
  animation-fill-mode: forwards;
}
@keyframes animBreadcrums {
  0% {
    opacity: 0;
    left: 100px;
  }
  100% {
    opacity: 1;
  }
}
.breadCrums a,
.breadCrums p {
  color: black;
  text-decoration: none;
}
.breadCrums a:not(:first-child) {
  padding: 0px 5px;
}
.breadCrums a:first-child {
  padding-right: 5px;
}
.undersideContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
}
.undersideImgs {
  display: flex;
  width: 35%;
  padding-right: 50px;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  animation: animUndersideImg 1.5s;
  animation-fill-mode: forwards;
}
@keyframes animUndersideImg {
  0% {
    opacity: 0;
    top: 70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.undersideImgs img {
  width: 100%;
}
.undersideImgs img:last-child {
  margin-top: 10px;
  width: 50%;
}
.undersideInfo {
  width: 65%;
  animation: animUndersideImg 1.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  position: relative;
}
.undersideInfo h1 {
  font-size: 36px;
  font-weight: bold;
}
.undersideInfo hr {
  width: 40%;
  margin-top: 13px;
  border: 2px solid #707070;
}
.undersideInfo h2 {
  margin-top: 28px;
  font-size: 28px;
  font-weight: bold;
}
.undersideInfo h3 {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 200;
}
.undersideInfo p {
  margin-top: 31px;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: -0.5px;
}
.undersideInfo a {
  color: black;
  font-size: 17px;
}
.undersideInfo div {
  margin-top: 50px;
}
.undersideInfo div i {
  padding-right: 10px;
}
/* FOOTER */
footer {
  margin-top: 50px;
  width: 100%;
  height: 340px;
  background-color: #597e50;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footerLeft {
  left: 200px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}
.footerLeft a {
  text-decoration: none;
  width: 50%;
  color: white;
  margin: 5px 0;
  font-size: 20px;
  font-weight: bold;
}
.footerCenter {
  margin: 0 auto;
  width: 25%;
  text-align: center;
  color: white;
}
.footerCenter h2 {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 27px;
  margin-bottom: 15px;
}
.footerCenter p {
  font-size: 20px;
  margin-bottom: 20px;
}
.standardBtn {
  border: 1px solid white;
  border-radius: 32px;
  background-color: transparent;
  padding: 2px 25px;
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: all 0.5s ease;
}
.standardBtn:hover {
  color: #597e50;
  background-color: white;
}
.standardBtn.white {
  border: 1px solid #597e50;
  color: #597e50;
}
.standardBtn.white:hover {
  background-color: #597e50;
  color: white;
}
.footerRight {
  width: 33%;
  position: absolute;
  color: white;
  right: 200px;
  text-align: right;
}
.footerRight h2 {
  font-size: 20px;
  margin-bottom: 30px;
}
/* Adminpanel */
.adminPageWrapper {
  width: 70%;
  margin: 0 auto;
}
.adminPageWrapper p {
  width: 50%;
}
.adminWrapper {
  margin-top: 15px;
  display: column;
  width: 60%;
  border: 2px solid rgb(255, 255, 255);
  padding: 1em;
  box-sizing: border-box;
  position: relative;
}
.adminItemDiv {
  margin: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminInput {
  padding: 0.5em;
  min-width: 200px;
  width: 60%;
}
/* SCALABLE media queries */
@media screen and (max-width: 1700px) {
  nav a.navlink {
    width: 18%;
    padding: 40px 30px;
    justify-content: center;
  }
  .footerLeft {
    left: 100px;
    width: 40%;
  }
  .footerRight {
    right: 100px;
  }
}
@media screen and (max-width: 1400px) {
  nav a.navlink {
    width: 20%;
    padding: 40px 30px;
    justify-content: center;
  }
  .mainInfo {
    width: 90%;
  }
  .footerLeft a {
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .burgerMenu {
    display: flex;
  }
  section.frontImage {
    height: 450px;
  }
  nav div.mainNav {
    display: none;
  }
  .adminWrapper {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .mainInfo {
    width: 100%;
  }
  .breadCrums {
    left: 0;
  }
  .undersidecontentWrapper {
    width: 100%;
  }
  .footerLeft {
    position: relative;
    width: 100%;
    padding: 0px 100px;
    box-sizing: border-box;
    left: 0;
  }
  .footerCenter {
    margin: 0;
    text-align: left;
    padding: 0px 100px;
    box-sizing: border-box;
    position: relative;
    margin: 20px 0;
    width: 100%;
  }
  .footerRight {
    position: relative;
    right: 0;
    padding: 0px 100px;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
  }
  footer {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .shortInfo p {
    width: 80%;
  }
}
@media screen and (max-width: 850px) {
  .mainInfo {
    flex-direction: column;
  }
  .mainInfo article:not(.articleInfo) {
    height: 100%;
  }
  .mainInfo article {
    width: 100%;
    height: auto;
  }
  .mainInfo article img {
    height: 100%;
  }
}
@media screen and (max-width: 750px) {
  .undersideContent {
    flex-direction: column;
  }
  .undersideImgs {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  .undersideImgs img:last-child {
    display: none;
  }
  .undersideInfo {
    margin: 0 auto;
    width: 80%;
  }
  section.frontImage {
    height: 250px;
  }
  .adminPageWrapper {
    width: 95%;
  }
  .adminPageWrapper div p {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  nav {
    padding: 0px 20px;
  }
  nav div:not(.burgerMenu) {
    width: 70%;
    margin-right: 0;
  }
  .burgerMenu {
    right: 20px;
  }
  .footerRight {
    padding: 0;
  }
  .footerLeft {
    padding: 0;
  }
  .footerCenter {
    padding: 0;
  }
  .adminItemDiv {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .adminInput {
    width: 90%;
  }
}
